@model TravelBlog.Models.Experience

@{ 
    ViewData["Title"] = "Experience - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Experience Details</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <img src="@Model.ImageURL" class="location-image" />
    </div>
    <div class="col-md-8">
        <p>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</p>
        <p>City, Country: @Html.DisplayFor(model => model.Location.CityName), @Html.DisplayFor(model => model.Location.Country)</p>


        <p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
        <h3>People:</h3>
        <ul>
            @foreach (var people in Model.PeopleExperiences)
            {

                <li> @Html.ActionLink(people.People.Name, "Details", "Peoples", new { id = people.PersonId }) </li>
            }
        </ul>
    </div>
    <div class="col-md-12">
        <p>@Html.ActionLink("Edit", "Edit", new { id = Model.ExperienceId })</p>
    </div>
</div>