@model TravelBlog.Models.People

@{
    ViewData["Title"] = "People - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new person</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.PeopleLocations)
    @Html.DropDownList("LocationId")

    @Html.LabelFor(model => model.Bio)
    @Html.EditorFor(model => model.Bio)

    @Html.LabelFor(model => model.ImageURL)
    @Html.EditorFor(model => model.ImageURL)

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")