@model TravelBlog.Models.People

@{
    ViewData["Title"] = "People - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>
<hr />
<h4>Edit this people: @Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PersonId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.PeopleLocations)
    @Html.DropDownList("LocationId")


    <input type="submit" value="Save" class="btn btn-default" />
}
@Html.ActionLink("Back to List", "Index")