@model TravelBlog.Models.Location

@{
    ViewData["Title"] = "Location - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new location</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.CityName)
    @Html.EditorFor(model => model.CityName)

    @Html.LabelFor(model => model.Country)
    @Html.EditorFor(model => model.Country)

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")